h1{
	font-style: italic;
	text-align: center;
}

button {
	display: block;
	margin: auto;
	position: relative;
	width: 100%;
	border-radius: 5px;
	border-color: black;
	margin-top: 5px;
	cursor: pointer;
	max-width: 500px;
}

button:hover{
	background-color: lightgrey;
}

.tablist{
	margin: auto;
	width: 50%;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	background-color: #f7f7f7;
}
.searchbar{
	position: relative;
	float: right;
	width: 200px;
	height: 12px;
	border-radius: 5px;
	border: 1px solid black;
}

.contentContainer{
	margin-top: 10px;
	height: 78vh;
	background-color: #f7f7f7;
	border: 1px solid lightgrey;
}